// Radius
$border-radius: 5px;

// Dimensions
$container-width: 720px;
$form-width: 470px;

// Colours
$body-background-color: #f9f9f9;
$body-color: #8890a4;
$border-color: #E6E9ED;
$border-active-color: #d9dadc;
$field-active-background: #fcfcfc;
$red: #dc2525;
$green: #65C82B;
$heading-color: #0f0f0f;
$placeholder: #cdd0d4!important;

// Fonts
$font-family: 'Lato', sans-serif;
$heading-font-family: 'Montserrat', sans-serif;
$heading-font-weight: 300;
$h4: 1.125rem;
$label-font-size: 0.9375rem;
